.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.header {
  padding-top: 39px !important;
  z-index: 1;
}

.header-wrapper > nav {
  display: block;
  margin-right: 110px;
}

.header-wrapper > nav > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-wrapper > nav > ul > li {
  display: inline-block;
  position: relative;
}

.header-wrapper > nav > ul > li {
  padding: 24px 40px;
}

@media (max-width: 1440px) {
  .header-wrapper > nav > ul > li {
    padding: 24px 20px;
  }
}

.burger {
  display: none;
}

@media (max-width: 767px) {
  .burger {
    display: block;
  }

  .header-wrapper > nav {
    display: none;
  }
}

.header-wrapper > nav > ul > li > p:after {
  display: block;
  content: '';
  border-bottom: solid 1px;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
  transform-origin: 0% 50%;
}

.header-wrapper > nav > ul > li:hover > p:after {
  transform: scaleX(1);
}


.linkToProject > a > p:after {
  display: block;
  content: '';
  border-bottom: solid 1px;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
  transform-origin: 0% 50%;
}

.linkToProject:hover > a > p:after {
  transform: scaleX(1);
}

.linkToProject:hover .strelka {

  transform: translateX(10px);

}

.header-wrapper > nav > ul > li > a:after {
  display: block;
  content: '';
  border-bottom: solid 1px;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
  transform-origin: 0% 50%;
}

.header-wrapper > nav > ul > li > a {
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #535A60;
  font-family: OpenSans-Bold;
}

.header-wrapper > nav > ul > li:hover > a:after {
  transform: scaleX(1);
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;

}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #FFFFFF;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  margin: auto;
  display: inline-block;
  width: max-content;
  padding: 40px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 1440px) {
  .header-wrapper > nav {
    display: block;
    margin-right: 0px;
  }

  .header-wrapper > nav > ul > li:last-child {
    padding: 24px 0 24px 20px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1024px) {


  .header-wrapper > nav > ul > li > a {
    font-size: 14px;
    line-height: 130%;
  }

  .header {
    padding-top: 16px;
  }

  .header-wrapper > nav > ul > li:last-child {
    padding: 7px 0 7px 0;
    display: flex;
    align-items: center;
  }
}


/*burger*/
.main-header__burger {
  width: 30px;
  height: 21px;
  display: block;
  border: none;
  background: 0 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  transition: all .5s ease-in-out;
  transform: rotate(0);
  display: none;
}

.main-header__burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #535A60;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  transform: rotate(0);
  transition: .25s ease-in-out;
}

.main-header__burger span:nth-child(2) {
  top: 0;
}

.main-header__burger span:nth-child(3) {
  top: 9px;
}

.main-header__burger span:nth-child(4) {
  bottom: 0;
}

.main-header__burger--active span:nth-child(2) {
  top: 10px;
  transform: rotate(
      135deg
  );
}

.main-header__burger--active span:nth-child(3) {
  opacity: 0;
  left: 60px;
}

.main-header__burger--active span:nth-child(4) {
  bottom: 8px;
  transform: rotate(-135deg
  );
}

.overflowHid {
  overflow: hidden;
}

.main-header__nav--active .main-header__nav-box {
  right: 0;
  /* transition: all .7s ease; */
}

.main-header__nav-box {
  width: 100%;
  right: -765px;
}

.main-header__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
  justify-content: center;
  grid-gap: 0 6%;
  position: relative;
}

.main-header__nav ul {
  grid-template-columns: 1fr;
  height: 200px;
}


.main-header__nav-box {
  width: 480px;
  background: #F3F5F9;
  position: fixed;
  right: -480px;
  height: 100%;
  transition: all .7s ease;

  p {
    font-size: 16px;
    line-height: 100%;
    color: #535A60;
    opacity: 0.7;
    padding-bottom: 7px;
  }

  li {
    position: relative;
  }





}

.burger__contacts-header {
  align-self: center;
  opacity: 1!important;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  margin-top: 52px;
  margin-bottom: 45px;

  &:before {
    margin-bottom: 11px;
  }
}




.burger__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  .burger__contacts-phone {
    margin-bottom: 25px;

    a {
      font-size: 18px;
      line-height: 150%;
      color: #535A60;
    }
  }

  .burger__contacts-mail {
    a {
      font-size: 18px;
      line-height: 100%;
      color: #535A60;
    }
  }
}


.main-header__nav-box {
  ul {
    background: #FFFFFF;

    li {
      align-self: center;
      margin: 0 auto;
      display: flex;
      width: 164px;

      justify-content: center;
      align-items: center;

      a {
        font-family: OpenSans-Bold;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;
        color: #535A60;

      }
    }



  }
}


.main-header__nav {
  position: fixed;
  right: 0;
  top: 93px;
  display: grid;
  justify-content: flex-end;
  transition: all .5s linear;
  z-index: 1;
  display: none;
}


.burger__contacts-header p {
  opacity: 1;
}

.main-header__nav--active {
  display: initial;
}

.main-header__nav {
  height: 100%;
}

.main-header__nav {
  width: 100%;
  right: -780px;
}


@media (max-width: 768px) {

  .header-wrapper > nav {
    display: none;
  }
  .header {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  header.main-header {
    position: sticky;
    top: 0;
    z-index: 123;
  }
}

@media (max-width: 768px) {
  .main-header__nav-box {
    width: 100%;
    right: -765px;
  }
  .main-header__burger {
    display: block;
  }
  .header {
    background: #FFFFFF;
  }
}


@media(max-width: 1440px) {
  .header-wrapper > a > img {
    max-height: 60px;
  }
}


@media (max-width: 425px) {
  .header-wrapper > a > img {
    max-height: 50px;
    max-width: 150px;
  }
}


@media (max-width: 320px) {
  .header-wrapper > a > img {
    max-height: 40px;
  }
}
