<footer class="main-footer">
  <div class='footer container '>
    <div class="footer-wrapper">
      <div class="footer-header"><p>Связаться с нами</p></div>
      <div class="footer-nav">
        <div><p>©1996-2021 ГК «Компьютролс»</p></div>
        <div><a href="tel:+7 (495) 787-25-78">+7 (495) 787-25-78</a></div>
        <div><a href="mail:info@computrols.ru">info@computrols.ru</a></div>
      </div>
    </div>
  </div>

  <section class="developers">
    <div class="developers__wrapper"><a href="#">Разработка и продвижение<img src="assets/img/Cmbox.jpg"></a>
    </div>
  </section>
</footer>
