<header class="main-header">
  <div class='container header'>
    <div class="header-wrapper">
      <a href="">
        <img src=assets/img/Logo.png alt="LOGO"/>
      </a>

      <nav>
        <ul>
          <li><a href="">Главная</a></li>
          <li><a href="">Проекты</a></li>

        </ul>
      </nav>

      <div class="main-header__nav" style="">
        <div class="main-header__nav-box">
          <ul class="">
            <li><a href="otzyivyi.html">Главня</a></li>
            <li><a href="o-kompanii.html">Проекты</a></li>
            <li>
              <p>Телефон</p>
              <a href="tel:+7 (495) 787-25-78">+7 (495) 787-25-78 </a></li>
            <li>
              <p>Email</p>
              <a href="mail:info@computrols.ru">info@computrols.ru</a></li>
          </ul>
        </div>

      </div>
      <button class="main-header__burger main-header__burger--closed" type="button">
        <span class="visually-hidden">Бургер меню</span>
        <span></span><span></span><span></span>
      </button>


    </div>
  </div>
</header>
